<section class="farm-list">
    <farm-item *ngFor="let farmItem of farms" [item]="farmItem"></farm-item>
</section>


<div class="pagetwo">
    <div class="pagetwo-text">
        <h1 class="pagetwo-text-h1">
            选择你的第一个农场<img src="assets/img/favicon.png">
        </h1>
    </div>
    <div class="row">
        <div class="pagetwo-farms col-md-4">
            <a href="#">
                <img src="assets/img/farms/veg1.jpg" style="width:100%">
                <div class="farmicon">
                    <h3>圃朗庭开心农场</h3>
                    <h2><strong>为家人种植有机蔬菜</strong></h2>
                </div>
            </a>
        </div>
        <div class="pagetwo-farms col-md-4">
            <a href="#">
                <img src="assets/img/farms/veg2.jpg" style="width:100%">
                <div class="farmicon">
                    <h3>圃朗庭开心农场</h3>
                    <h2><strong>为家人种植有机蔬菜</strong></h2>
                </div>
            </a>
        </div>
        <div class="pagetwo-farms col-md-4">
            <a href="#">
                <img src="assets/img/farms/veg3.jpg" style="width:100%">
                <div class="farmicon">
                    <h3>圃朗庭开心农场</h3>
                    <h2><strong>为家人种植有机蔬菜</strong></h2>
                </div>
            </a>
        </div>
        <div class="pagetwobtn">
            <a id="pagetwo-go" href="#" class="btn btn-success btn-lg">开始种植</a>
        </div>
    </div>
</div>