.info-label {
    text-align: right;
}

.farm-info {
    font: normal 12px courier !important;
}

label {
    font-weight: bold;
}

.row {
    margin-top: 20px;
}

.image-list-left {
    text-align: center;
    color: lightgray;
}

.info-header {
    width: 100%;
    height: 50px;
}

.info-header>button {
    float: right;
    margin-right: 50px;
    border-radius: 4px;
    cursor: pointer;
}

.info-body {
    width: 100%;
    height: auto;
}