<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle>
                <img src="{{ currentUser?.img || 'assets/img/avatars/8.jpg'}}" class="img-avatar" alt="{{currentUser?.nickname}}">
                <span class="hidden-md-down">{{currentUser?.nickname || currentUser?.username}}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" dropdownMenu aria-labelledby="simple-dropdown">

                <div class="dropdown-header text-center"><strong>设置</strong></div>

                <a href="#" class="dropdown-item" (click)="largeModal.show()"><i class="fa fa-user"></i> 用户信息</a>

                <a [routerLink]="['/login']" class="dropdown-item"><i class="fa fa-lock"></i> 退出登入</a>

            </div>
        </li>
        <li class="nav-item hidden-md-down">
            <a class="nav-link navbar-toggler aside-menu-toggler" href="#">&#9776;</a>
        </li>
    </ul>
</header>

<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> 主页 </a>
                </li>
                <li class="nav-item nav-dropdown" routerLinkActive="open">
                    <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> 农场信息</a>
                    <ul class="nav-dropdown-items">
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/farms/myfarms']"><i class="icon-puzzle"></i> 我的农场</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/farms/lands']"><i class="icon-puzzle"></i> 租地</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLinkActive="active" [routerLink]="['/farms/seends']"><i class="icon-puzzle"></i> 种子</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">

        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <breadcrumbs></breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    &copy; 2017 Planting, Inc.
</footer>

<div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">
                    账户信息
                </h3>
            </div>
            <div class="modal-body">

                <form class="form-horizontal" #profileForm="ngForm" (ngSubmit)="onSubmit()">
                    <div></div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right" for="img_heading">头像：</label>
                        <div class="col-sm-4">
                            <input type="file" (change)="changeListener($event)" name="img_heading" id="img_heading" hidden #file/>
                            <img [src]="currentUser?.img || 'assets/img/avatars/8.jpg'" class="img-avatar image" height="80" (click)="file.click()">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right" for="formGroupInputLarge">手机号：</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="phone" name="phone" placeholder="手机号" [(ngModel)]="currentUser.username" required readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right" for="nickname">昵称：</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="nickname" name="nickname" [(ngModel)]="currentUser.nickname" placeholder="昵称">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right" for="gender">性别：</label>
                        <div class="col-sm-4">
                            <select [ngModel]="currentUser.gender" class="form-control" name="gender">
                              <option [value]="gender.code" *ngFor="let gender of genders">{{ gender.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 control-label text-right" for="addr">地址：</label>
                        <div class="col-sm-4">
                            <input class="form-control" type="text" id="addr" name="addr" [(ngModel)]="currentUser.addr" placeholder="详细地址">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <div class="text-right">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> 保存</button>
                                <button type="button" class="btn btn-sm btn-secondary" (click)="largeModal.hide()"><i class="fa fa-ban"></i> 取消</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->